.social-icons {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    //transform: scale(2);
}
.social-icon {
    opacity: 0;
    transition: opacity 0.3s;

    svg {
        overflow: visible !important;
    }

    .si-splash,
    .si-grid {
        display: none;
        visibility: hidden;
    }
    .si-icon {
        transform-origin: "center center";
    }
}
